.DS_Store
*~
*.idea
v/
.github/
.trunk/
.vYANG/ccdeve-device-module-data.dsrl
ccdeve-device-module-data.dsrl
ccdeve-device-module-data.rng
ccdeve-device-module-data.sch
 ccdeve-device-module-gdefs.rng
ccdeve-device-module-gdefs.rng
.vYANG/
ccdeve-score-report-data.dsrl
ccdeve-score-report-data.rng
ccdeve-score-report-data.sch
ccdeve-score-report-gdefs.rng
